<div class="container">
	<div>
		<h2>Modifier une Serie :</h2>
	</div>
	<form>


		<div class="col-sm-2 col-md-2 col-lg-2">
			<label>ID Serie</label>
			<input readonly type="text" [(ngModel)]="currentSerie.idSerie" name="idSerie" class="form-control">
		</div>


		<div class="col-sm-4 col-md-4 col-lg-4">
			<label>Nom Serie</label>
			<input type="text" [(ngModel)]="currentSerie.nomSerie" name="nomSerie" class="form-control">
		</div>


		<div class="col-sm-2 col-md-2 col-lg-2">
			<label>Nombre de saison d'une Serie</label>
			<input type="number" [(ngModel)]="currentSerie.nbSerie" name="nbSerie" class="form-control">
		</div>


		<div class="col-sm-4 col-md-4 col-lg-4">
			<label>Date sortie</label>
			<input type="date" [ngModel]="currentSerie.dateSortie | date: 'yyyy-MM-dd'"
				(ngModelChange)=" currentSerie.dateSortie= $event" name="dateSortie" class="form-control">
		</div>


		<div class="col-sm-4 col-md-4 col-lg-4">
			<label>Genre</label>
			<select class="form-control form-control-lg" id="idG" name="idG" [(ngModel)]="updateGId">
				<option *ngFor="let g of genres" [value]="g.idG">
					{{g.nomG}}
				</option>
			</select>
		</div>


		<div class="col-sm-16 col-md-16 col-lg-16">
			<label class="mb-2">Image :</label>
			<input type="file" (change)="onImageUpload($event)" class="form-control">
		</div>


		<div class="mt-2">
            <button type="submit" (click)="onAddImageProduit()" class="btn 
            btn-success">Ajouter Image</button>
        </div>
            
       

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
            </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let img of currentSerie.images">
                            <tr>
                                <td><img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                                        style="height :50px;width:100px"></td>
                                <td style="width:20%" ><a class="btn btn-danger"
                                 (click)="supprimerImage(img)">Supprimer</a></td>
                                                    
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		<div class="mt-2">
			<button type="submit" (click)="updateSerie()" class="btn btn-success">Modifer</button>
		</div>
	</form>
</div>